.bg-icon11,
.bg-icon12,
.bg-icon13,
.bg-icon14,
.bg-icon15,
.bg-icon16,
.bg-icon17 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 1920px;
  height: 1064.86px;
  object-fit: cover;
}
.bg-icon12,
.bg-icon13,
.bg-icon14,
.bg-icon15,
.bg-icon16,
.bg-icon17 {
  top: 2129.71px;
}
.bg-icon13,
.bg-icon14,
.bg-icon15,
.bg-icon16,
.bg-icon17 {
  top: 4250.55px;
}
.bg-icon14,
.bg-icon15,
.bg-icon16,
.bg-icon17 {
  top: 5315.4px;
}
.bg-icon15,
.bg-icon16,
.bg-icon17 {
  top: 6380.26px;
}
.bg-icon16,
.bg-icon17 {
  top: 3185.69px;
  height: 1064.85px;
}
.bg-icon17 {
  top: 1064.85px;
  height: 1064.86px;
}
.bg-icon18,
.bg-icon19,
.bg-icon20,
.bg-icon21,
.bg-icon22,
.bg-icon23 {
  position: absolute;
  top: 7445.11px;
  left: 0;
  width: 1920px;
  height: 1064.86px;
  object-fit: cover;
}
.bg-icon19,
.bg-icon20,
.bg-icon21,
.bg-icon22,
.bg-icon23 {
  top: 8509.97px;
}
.bg-icon20,
.bg-icon21,
.bg-icon22,
.bg-icon23 {
  top: 9563.98px;
  left: 1px;
}
.bg-icon21,
.bg-icon22,
.bg-icon23 {
  top: 10627.85px;
}
.bg-icon22,
.bg-icon23 {
  top: 11693px;
}
.bg-icon23 {
  top: 12690px;
}
.bg1,
.person-icon1 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 1922px;
  height: 13754.86px;
}
.person-icon1 {
  left: 987px;
  width: 763.2px;
  height: 900px;
  object-fit: cover;
}
.analytics-1-icon1,
.database-1-icon1 {
  position: absolute;
  top: 332px;
  left: 1728px;
  width: 131px;
  height: 127.05px;
  object-fit: cover;
}
.analytics-1-icon1 {
  top: 36.17px;
  left: 1060px;
  width: 87px;
  height: 84.37px;
}
.online-analytical-1-icon1,
.technology-1-icon1 {
  position: absolute;
  top: 723px;
  left: 965px;
  width: 110px;
  height: 97.95px;
  object-fit: cover;
}
.technology-1-icon1 {
  top: 550px;
  left: 1750px;
  width: 109px;
  height: 106.68px;
}
.analysis-1-icon1,
.ecommerce-1-icon1 {
  position: absolute;
  top: 232px;
  left: 827px;
  width: 123px;
  height: 117.35px;
  object-fit: cover;
}
.analysis-1-icon1 {
  top: 534.65px;
  left: 825px;
  width: 105px;
  height: 102.8px;
}
.developing-1-icon1,
.robot-1-icon1 {
  position: absolute;
  top: 715px;
  left: 1643px;
  width: 107px;
  height: 105.71px;
  object-fit: cover;
}
.developing-1-icon1 {
  top: 187px;
  left: 1660px;
  width: 114px;
  height: 111.53px;
}
.v-sao-ti1 {
  margin: 0;
}
.kinh-doanh-s3 {
  margin: 0;
  background: linear-gradient(180deg, #335dff, #2590cf 40.42%, #91d5f2);
}
.kinh-doanh-s3,
.uel4,
.v-tr-tu1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.v-tr-tu1 {
  background: linear-gradient(180deg, #335dff, #2590cf 40.42%, #91d5f2);
}
.uel4 {
  background: linear-gradient(180deg, #335dff, #38b2e5 52.92%, #18a2f1);
}
.span9 {
  color: var(--color-cornflowerblue-200);
}
.span10 {
  color: var(--color-black);
}
.v-sao-ti-container3 {
  line-break: anywhere;
  width: 100%;
}
.v-sao-ti-container2 {
  position: absolute;
  top: 41.71px;
  left: 0;
  display: flex;
  align-items: center;
  width: 909.8px;
  height: 614.86px;
}
.button-item {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background: linear-gradient(98.11deg, #335dff, rgba(51, 93, 255, 0.52));
}
.button-item,
.button1,
.tm-hiu-ngay1 {
  position: absolute;
  width: 353.99px;
  height: 97.95px;
}
.tm-hiu-ngay1 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  top: 699.36px;
  left: 278px;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.navigation-bar3,
.nd-trang-ch1 {
  position: absolute;
  top: 119px;
  left: 10px;
  width: 1859px;
  height: 900px;
}
.navigation-bar3 {
  top: 0;
  left: 0;
  background-color: var(--color-mediumslateblue-100);
  width: 1920px;
  height: 98.6px;
}
.tc-gi3,
.tuyn-sinh3 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 98.6px;
}
.tc-gi3 {
  left: 1580px;
  font-weight: 600;
  justify-content: center;
  width: 180px;
}
.tuyn-sinh3 {
  left: 1360px;
}
.cu-chuyn3,
.gii-thiu3,
.tuyn-sinh3 {
  font-weight: 600;
  justify-content: center;
  width: 220px;
}
.cu-chuyn3 {
  position: absolute;
  top: 0;
  left: 1140px;
  display: flex;
  align-items: center;
  height: 98.6px;
}
.gii-thiu3 {
  left: 920px;
}
.gii-thiu3,
.trang-ch3,
.victory-in-hand1 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 98.6px;
}
.trang-ch3 {
  left: 700px;
  font-weight: 600;
  justify-content: center;
  width: 220px;
}
.victory-in-hand1 {
  left: 200px;
  font-weight: 800;
  font-family: var(--font-montserrat);
  text-align: left;
  width: 325px;
}
.navigation-bar2,
.trang-ch2 {
  position: absolute;
  top: 0;
  width: 1920px;
}
.navigation-bar2 {
  left: 0;
  height: 98.6px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-exo);
}
.trang-ch2 {
  left: 33px;
  height: 1019px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-pacifico);
}
.backgound-icon1,
.image-16-icon1 {
  position: absolute;
  top: 242px;
  left: 60px;
  width: 1720px;
  height: 842px;
  overflow: hidden;
}
.image-16-icon1 {
  height: 90.44%;
  width: 35.86%;
  top: 9.56%;
  right: 64.14%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.ng-k-ngay2 {
  font-weight: 600;
}
.nhn-c-nhiu1 {
  font-weight: 500;
  color: var(--color-black);
}
.ng-k-ngay-container2 {
  position: absolute;
  top: 0;
  left: 444px;
  display: flex;
  align-items: center;
  width: 571px;
  height: 331px;
}
.form-item,
.rectangle-input {
  position: absolute;
  left: 0;
  width: 670px;
}
.form-item {
  border: 0;
  display: block;
  font-weight: 500;
  font-family: var(--font-exo);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  top: 0;
  height: 107px;
}
.rectangle-input {
  border: 3px solid var(--color-gray-200);
  background-color: var(--color-white);
  top: 37px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  height: 75.11px;
  opacity: 0.3;
}
.span11 {
  color: var(--color-darkred);
}
.a-ch-email-container1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 500;
  width: 260px;
  height: 37px;
}
.group-child3,
.rectangle-parent4 {
  position: absolute;
  top: 107px;
  left: 0;
  width: 670px;
  height: 112.11px;
}
.group-child3 {
  border: 3px solid var(--color-gray-200);
  background-color: var(--color-white);
  top: 37px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  height: 70px;
  opacity: 0.3;
}
.span12 {
  color: var(--color-red);
}
.s-in-thoi-container1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 500;
  width: 201.58px;
  height: 37px;
}
.group-child4,
.rectangle-parent5 {
  position: absolute;
  top: 214px;
  left: 0;
  width: 670px;
  height: 107px;
}
.group-child4 {
  border: 3px solid var(--color-gray-200);
  background-color: var(--color-white);
  height: 65.42%;
  width: 100%;
  top: 34.58%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  opacity: 0.3;
}
.ngythngnm-sinh-container1 {
  position: absolute;
  height: 44.95%;
  width: 85.12%;
  top: 0;
  left: 1.65%;
  display: inline-block;
  font-weight: 500;
}
.form-child1,
.form-inner,
.group-input,
.rectangle-parent6 {
  position: absolute;
  height: 14.45%;
  width: 53.84%;
  top: 43.24%;
  right: 46.12%;
  bottom: 42.31%;
  left: 0.04%;
}
.form-child1,
.form-inner,
.group-input {
  border: 0;
  display: block;
  font-weight: 500;
  font-family: var(--font-exo);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  width: 42.71%;
  right: 0;
  left: 57.29%;
}
.form-child1,
.group-input {
  width: 99.37%;
  top: 57.69%;
  right: 0.59%;
  bottom: 27.86%;
  left: 0.04%;
}
.form-child1 {
  top: 72.14%;
  bottom: 13.41%;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue-100);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 670px;
  height: 75px;
}
.ng-k-ngay3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 17.11px;
  left: 225px;
  font-size: var(--font-size-11xl);
  line-height: 16px;
  font-weight: 900;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 257px;
  height: 39px;
}
.form3,
.rectangle-parent7 {
  position: absolute;
  top: 665px;
  left: 0;
  width: 670px;
  height: 75px;
}
.form3 {
  top: 27px;
  left: 1060px;
  width: 674.41px;
  height: 740px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-exo);
}
.form2,
.kinh-doanh-s4 {
  position: absolute;
  font-size: var(--font-size-29xl);
}
.form2 {
  height: 13.57%;
  width: 94.36%;
  top: 0;
  right: 5.64%;
  bottom: 86.43%;
  left: 0;
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-montserrat);
}
.kinh-doanh-s4 {
  top: 1040px;
  left: 331px;
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  width: 1232px;
}
.image-5-icon1,
.image-8-icon1 {
  position: absolute;
  top: 74px;
  left: 981px;
  width: 800px;
  height: 459.2px;
  object-fit: cover;
}
.image-8-icon1 {
  top: 14px;
  left: 0;
  width: 937.28px;
  height: 220px;
}
.trng-i-hc1 {
  position: absolute;
  top: 239px;
  left: 8px;
  display: inline-block;
  width: 913px;
  height: 352px;
}
.tm-hiu-v1 {
  position: absolute;
  top: 0;
  left: 262px;
  font-size: var(--font-size-29xl);
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 474px;
}
.tick-1-icon1 {
  position: absolute;
  top: 5px;
  left: 191px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.uel5 {
  position: absolute;
  top: 1242px;
  left: 17px;
  width: 1781px;
  height: 591px;
  text-align: left;
}
.tick-2-icon1 {
  position: absolute;
  top: 14px;
  left: 173px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.ngnh-kinh-doanh2 {
  position: absolute;
  top: 0;
  left: 244px;
  font-size: var(--font-size-29xl);
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 1337px;
}
.image-7-icon1 {
  position: absolute;
  top: 126px;
  left: 0;
  width: 850px;
  height: 502.74px;
  object-fit: cover;
}
.khoa-h-thng2 {
  position: absolute;
  top: 107px;
  left: 1116px;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  color: var(--color-steelblue-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 593px;
}
.image-9-icon1 {
  position: absolute;
  top: 126px;
  left: 872px;
  width: 180px;
  height: 170px;
  object-fit: cover;
}
.tin-thn-ca-container2 {
  position: absolute;
  top: 170px;
  left: 1073px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 721px;
}
.learning-to-know1 {
  font-weight: 500;
}
.learning-to-know-learning-to1 {
  margin: 0;
  color: var(--color-black);
}
.trit-l-gio-container2 {
  position: absolute;
  top: 666px;
  left: 0;
  display: flex;
  align-items: center;
  width: 850px;
  height: 140px;
  color: var(--color-steelblue-200);
}
.tm-nhn3 {
  font-weight: 700;
}
.xy-dng-v-trin-khai-cc-ch3 {
  margin-bottom: 0;
}
.xy-dng-v-trin-khai-cc-ch2 {
  margin: 0;
  padding-left: var(--padding-18xl);
  color: var(--color-black);
}
.hot-ng1,
.tm-nhn-n-container2 {
  color: var(--color-steelblue-100);
}
.tm-nhn-n-container2 {
  position: absolute;
  top: 318px;
  left: 891px;
  font-size: var(--font-inherit);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 922px;
}
.hot-ng1 {
  margin: 0;
}
.hot-ng-hin-container1 {
  position: absolute;
  top: 806px;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
  width: 850px;
  height: 340px;
}
.erp-simulation-games1 {
  position: absolute;
  top: 0;
  left: 555px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 531px;
  height: 36px;
}
.image-15-icon1 {
  top: 45.54px;
  left: 0;
  width: 1600px;
  height: 933.29px;
  object-fit: cover;
}
.fis1,
.image-15-icon1,
.v-d-h1 {
  position: absolute;
}
.v-d-h1 {
  top: 1235px;
  left: 85px;
  width: 1600px;
  height: 978.83px;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.fis1 {
  top: 1952px;
  left: 25px;
  width: 1813px;
  height: 2213.83px;
  text-align: left;
}
.kinh-doanh-s5,
.span14 {
  font-weight: 700;
  font-family: var(--font-exo);
}
.span14 {
  font-weight: 500;
}
.kinh-doanh-s-v-tr-tu-nhn3 {
  color: var(--color-mediumslateblue-100);
}
.kinh-doanh-s-container2 {
  position: absolute;
  top: 118px;
  left: 0;
  display: flex;
  align-items: center;
  width: 871px;
  height: 615px;
}
.tick-3-icon1 {
  position: absolute;
  top: 0;
  left: 154px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.ngnh-kinh-doanh3 {
  position: absolute;
  top: 2px;
  left: 225px;
  font-size: var(--font-size-21xl);
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 1129px;
}
.image-10-icon1 {
  position: absolute;
  top: 103px;
  left: 921px;
  width: 861px;
  height: 649px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 4292px;
  left: 44px;
  width: 1782px;
  height: 752px;
  text-align: left;
}
.trang-tr-icon1 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 52.56px;
  height: 832.93px;
}
.trin-vng-ngh1 {
  position: absolute;
  top: 2px;
  left: 263px;
  font-size: var(--font-size-21xl);
  display: flex;
  font-weight: 500;
  text-align: left;
  align-items: center;
  width: 1377px;
}
.tick-4-icon1 {
  position: absolute;
  top: 0;
  left: 192px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.da-item,
.image-11-icon3 {
  position: absolute;
  border-radius: var(--br-6xl);
}
.da-item {
  top: 0;
  left: 0;
  background-color: var(--color-mediumslateblue-100);
  width: 440px;
  height: 440px;
}
.image-11-icon3 {
  top: 20px;
  left: 20px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.nh-phn-tch1 {
  position: absolute;
  top: 468px;
  left: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 273px;
  height: 50px;
}
.ai-child1,
.bi1,
.da1,
.de1,
.digital1,
.ml1 {
  position: absolute;
  top: 110px;
  left: 104px;
  width: 440px;
  height: 518px;
}
.ai-child1,
.bi1,
.de1,
.digital1,
.ml1 {
  top: 113px;
  left: 694px;
}
.ai-child1,
.de1,
.digital1,
.ml1 {
  top: 110px;
  left: 1284px;
}
.ai-child1,
.digital1,
.ml1 {
  top: 684px;
  left: 104px;
}
.ai-child1,
.digital1 {
  top: 687px;
  left: 694px;
}
.ai-child1 {
  top: 23px;
  left: 20px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 400px;
  height: 400px;
}
.t-vn-gii-container2 {
  position: absolute;
  top: 468px;
  left: 83px;
  display: flex;
  align-items: center;
  width: 273px;
  height: 50px;
}
.ai1 {
  position: absolute;
  top: 684px;
  left: 1284px;
  width: 440px;
  height: 518px;
}
.gii-thiu5,
.ngh-nghip1 {
  position: absolute;
  top: 5192px;
  left: 6px;
  width: 1724px;
  height: 1205px;
}
.gii-thiu5 {
  top: 942px;
  left: 771px;
  font-size: var(--font-size-45xl);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 371px;
  height: 130px;
}
.gii-thiu4 {
  position: absolute;
  top: 1158px;
  left: 72px;
  width: 1838px;
  height: 6397px;
}
.cu-chuyn5,
.l-do-no1 {
  position: absolute;
  top: 0;
  left: 679px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 441px;
  height: 130px;
}
.l-do-no1 {
  left: 90px;
  font-weight: 500;
  width: 1580px;
  height: 146px;
}
.img-4709-1-icon1 {
  position: absolute;
  top: 135px;
  left: 0;
  width: 1800px;
  height: 1012.5px;
  object-fit: cover;
}
.cu-chuyn4,
.l-do-no-khin-chng-ti-c-parent {
  position: absolute;
  top: 65px;
  left: 0;
  width: 1800px;
  height: 1147.5px;
  font-size: var(--font-size-17xl);
}
.cu-chuyn4 {
  top: 7700px;
  left: 92px;
  height: 1212.5px;
  font-size: var(--font-size-45xl);
}
.tuyn-sinh5 {
  position: absolute;
  top: 0;
  left: 607px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 386px;
  height: 130px;
}
.phng-thc-1-xt-tuyn-thng1 {
  margin: 0;
  padding-left: var(--padding-21xl);
}
.nm-2023-trng-container2 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 1580px;
  height: 918px;
}
.nm-2023-trng-i-hc-kinh-wrapper {
  position: absolute;
  top: 0;
  left: 10px;
  width: 1580px;
  height: 918px;
}
.group-parent,
.image-17-icon1 {
  position: absolute;
  left: 0;
  width: 1600px;
}
.image-17-icon1 {
  top: 894px;
  height: 1735px;
  object-fit: cover;
}
.group-parent {
  top: 130px;
  height: 2629px;
  text-align: left;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.tc-gi5,
.tuyn-sinh4 {
  position: absolute;
  top: 9100px;
  left: 192px;
  width: 1600px;
  height: 2759px;
  font-size: var(--font-size-45xl);
}
.tc-gi5 {
  top: 0;
  left: 625px;
  font-weight: 900;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 371px;
  height: 100px;
}
.ta-inner {
  top: -5px;
  left: -5px;
  background-color: var(--color-mediumslateblue-100);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 370px;
  height: 660px;
}
.img-0818-1-icon4,
.ta-child1,
.ta-inner {
  position: absolute;
  border-radius: var(--br-xl);
}
.ta-child1 {
  top: 11px;
  left: 11px;
  background-color: var(--color-gainsboro);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 338px;
  height: 338px;
}
.img-0818-1-icon4 {
  top: 16px;
  left: 16px;
  width: 328px;
  height: 328px;
  object-fit: cover;
}
.nguyn-v-thy1,
.sinh-vin-kha-container8 {
  position: absolute;
  left: 16px;
  display: flex;
  align-items: center;
  width: 328px;
}
.nguyn-v-thy1 {
  top: 364px;
  font-weight: 600;
  justify-content: center;
  height: 50px;
}
.sinh-vin-kha-container8 {
  top: 399px;
  font-size: var(--font-size-9xl);
  height: 251px;
}
.l-tun-nguyn1,
.ta1 {
  position: absolute;
  top: 147px;
  left: 0;
  width: 360px;
  height: 650px;
}
.l-tun-nguyn1 {
  top: 364px;
  left: 43px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 273px;
  height: 50px;
}
.h1,
.ndd1,
.tc-gi4,
.tn1 {
  position: absolute;
  top: 147px;
  left: 420px;
  width: 360px;
  height: 650px;
}
.h1,
.ndd1,
.tc-gi4 {
  left: 840px;
}
.ndd1,
.tc-gi4 {
  left: 1260px;
}
.tc-gi4 {
  top: 11954px;
  left: 181px;
  width: 1620px;
  height: 797px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.bg-footer1,
.image-14-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1919px;
  height: 1073.05px;
  object-fit: cover;
}
.image-14-icon1 {
  top: 116.25px;
  left: 17.97px;
  width: 1877.07px;
  height: 552.8px;
}
.copyright-2023-victory1,
.ql1-khu-ph1 {
  position: absolute;
  top: 956.93px;
  left: 2.99px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 1917.01px;
  height: 61.54px;
}
.copyright-2023-victory1 {
  top: 1018.46px;
}
.footer1 {
  position: absolute;
  top: 12700px;
  left: 32px;
  width: 1920px;
  height: 1080px;
  color: var(--color-white);
}
.bg-parent {
  position: absolute;
  top: 0;
  left: -32px;
  width: 2061px;
  height: 13773px;
}
.frame-parent {
  position: relative;
  width: 100%;
  height: 10482px;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-exo);
}
